<!DOCTYPE html>
<html>
  <head>
      <title>CSSEARCH</title>
      <link rel='stylesheet' href='/stylesheets/normalize.css' />
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
      <script src="/javascripts/index.js"></script>
  </head>
  <body>
      <div id="homescreen-container">
          <div id="logo-container">
              <img src="/images/logo.png"/>
          </div>
          <div id="search-container">
              <input type="text" name="query" placeholder="Enter a search query..." id="search-input"><br>
              <input type="submit" value="Submit" id="search-submit">
          </div>
      </div>
  </body>
</html>
