<!DOCTYPE html>
<html>
  <head>
      <title>CSSEARCH</title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>CSSearch</h1>
  <div id="search-container">
      <input type="text" name="query" placeholder="Enter a search query..." id="search-input"><br>
      <input type="submit" value="Submit" id="search-submit">
  </div>
  </body>

</html>
